* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --slack-color: #3f0f40;
  --bg-color-slack-secondary: #421f44;
  --bg-color-slack-hover: #340e36;
  --bg-color-0: white;
  --bg-color-100: #f8f8f8;
  --bg-color-accent: green;

  --color-accent-100: lightgray;
  --color-accent-200: grey;
  --color-accent-400: #49274b;
}
body {
  overflow: hiden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all ease-in 0.3s;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.MuiSvgIcon-root {
  color: white;
}

img {
  max-width: 100%;
  /* display: block; */
}

@media screen and (max-width: 565px) {
  body,
  h2,
  h3,
  ::placeholder {
    font-size: 0.625rem !important;
  }

  span {
    font-size: 0.4rem !important;
  }

  .MuiSvgIcon-root {
    font-size: 1rem !important;
  }

  .MuiAvatar-root {
    width: 20px !important;
    height: 20px !important;
    font-size: 1rem !important;
  }
}
